@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.custom-pane .SlidingPane {
  background-color: var(--bg-main-light);
}

.custom-pane .SlidingPane__content {
  background-color: var(--bg-main-light);
  color: var(--text-primary-light);
}

.dark .custom-pane .SlidingPane__content {
  background-color: var(--bg-main-dark);
  color: var(--text-primary-dark);
}

.custom-pane .SlidingPane__header {
  display: none;
}

.custom-pane .SlidingPane__closeButton {
  display: none;
}
